.section-two {
    padding-top: 118px;
    padding-bottom: 194px;
    padding-left: 60px;
     padding-right: 60px;
    background-color:#2F303A; 
    background-position: center;
    background-size: cover;
    // padding-top: 200px;
    // padding-bottom: 200px;
    // padding: 118px 60px 198px 60px;
   
      max-width: 100%;
    background-image: linear-gradient(
     rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ),
      url(../img/header-mobil.jpg);
      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
       background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
       rgba(47, 48, 58, 0.4)
      ),
     url(../img/header-mobil-2x.jpg);
     
  }  

      // max-width: 1600px;
      @media screen and (min-width: 768px) {
        padding: 118px 204px 198px 204px;
        max-width: 1200px;
        background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
         rgba(47, 48, 58, 0.4)
         ),
         url(../img/header-tablet.jpg) ;
      
          @media (min-device-pixel-ratio: 2),
         (min-resolution: 192dpi),
         (min-resolution: 2dppx) {
          background-image: linear-gradient(
         rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
         ),
        url(../img/header-tablet-2x.jpg);
        }
        }   
    
    @media screen and (min-width: 1200px) {
     padding-bottom: 280px;
     padding-top: 200px;
    //  padding-left: 452px;
    //  padding-right: 352px;
   
    
     
    max-width: 100%;
        background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
       rgba(47, 48, 58, 0.4)
       ),
         url(../img/header.jpg);
         @media (min-device-pixel-ratio: 2),
         (min-resolution: 192dpi),
         (min-resolution: 2dppx) {
           background-image: linear-gradient(
             rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
            ),
              url(../img/header-2x.jpg);
       }
      }
  
  }
  .section-two .container{
   padding: 0px;
    
    margin: 0px;
    @media screen and (min-width: 320px) {
      max-width: 100% ;
  }
  margin: 0px;
   
  @media screen and (min-width: 768px) {
    max-width: 1200px ;
 }
 @media screen and (min-width: 1200px) {
  max-width: 1200px ;
}
  }

.section-two-btn{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
color:var(--fonfocus-color) ;
margin-top: 30px;
background-color: #2196F3;
border: none;
padding: 10px 32px 10px 32px;
border-radius: 4px;
}
.section-two-title{
  font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 26px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;

 max-width: 422px;
 @media screen and (min-width: 768px) {
  font-size: 26px;
  line-height: 1.62;
 max-width: 422px;



}
@media screen and (min-width: 1200px) {
  font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;

max-width: 715px;
color: #FFFFFF; 
  //  max-width: 360px;
}

}
.sect-btn{
 text-align: center;
}