.section-two {
    padding-top: 118px;
    padding-bottom: 194px;
    text-align:center;   
    background-color:#2F303A; 
    // padding-top: 200px;
    // padding-bottom: 200px;
    // padding: 118px 60px 198px 60px;
   
    background-image: linear-gradient(
     rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ),
      url(../img/Img-hed.jpg);
      max-width: 1600px;
      @media screen and (min-width: 768px) {
     padding-top: 118px;
     padding-bottom: 194px;
    }
  
  }
  .section-two .container{
   padding: 0px;
    
    margin: 0px;
    @media screen and (min-width: 480px) {
      max-width: 100% ;
  }
  }

.section-two-btn{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
color:var(--fonfocus-color) ;
margin-top: 30px;
background-color: #2196F3;
border: none;
padding: 10px 32px 10px 32px;
border-radius: 4px;
}
.section-two-title{
  
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  color:var(--fonfocus-color) ; 
 text-transform: uppercase;
//  max-width: 360px;
@media screen and (min-width: 480px) {
   font-size: 26px;
}
@media screen and (min-width: 768px) {
  font-size: 26px;
  line-height: 1.62;
 max-width: 450px;


}
}