.section-three{
    padding-bottom: 94px;
}

 .section-three-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--main-title-color);
    margin-right: 30px;
     margin: 0 auto;
 }
 .section-three{
    padding-top: 94px;
    padding-top: 94px;
    @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-top: 60px; 
    } 
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-top: 94px; 
    }     
}
 
 .section-three-title{
     text-align: center;
     padding-top: 0px;
     margin-bottom: 50px;
 }
 .section-three-list {
     display: flex;
     flex-wrap: wrap;
    gap: 30px;
 }
 
 .section-three-item{
    
    //  flex-basis: calc(100% / 4 - 30px);
    //  margin-left: 0px;
    //  margin-right: 30px;
    //  width: 270px;
    width: 100%;
    @media screen and (min-width: 768px) {
        width: calc((100% - 30px) / 2 ) ;
    } 
    @media screen and (min-width: 1200px) {
        width: calc((100% - 90px) / 4 ) ;
       
    }    
 }
 .section-three-item:last-child{
     margin-right: 0px;}
     .section-three-title{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        color: #212121;
         
        
     }
     .section-three-item-title{
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        color:var(--title-color);
        margin-bottom: 10px;
        
        text-transform: uppercase;
     }