.benefits-item{
    @media screen and (min-width: 320px) {
    width: 100%;
    height: 100%;
  
    height: 120px ;
    background-color:#F5F4FA  ;
   display: flex;
    align-items: center;
     justify-content: center;
     fill: #AFB1B8;
    }
    //  margin-bottom: 30px;
    @media screen and (min-width: 768px) {
        width: 100%;
        height: 100%;
        width: 354px ;
        height: 120px ;
        background-color:#F5F4FA  ;
       display: flex;
        align-items: center;
         justify-content: center;
         fill: #AFB1B8;
    } 
    @media screen and (min-width: 1200px) {
        width: 100%;
        height: 100%;
        width: 270px ;
        height: 120px ;
        background-color:#F5F4FA  ;
        display: flex;
        align-items: center;
         justify-content: center;
         fill: #AFB1B8;
       
    }    
    }
   
    .benefits-link:hover,
    .benefits-link:focus{
        background: #F5F4FA;
      border-radius: 4px;
     
    }
    .benefits-item:last-child {
        margin-right: 0px;
    }
   
.backdrop{
width: 100%;
height: 100%;
background-color:  rgba(0, 0, 0, 0.2);
position:fixed;
top: 0;
transition: opacity 250ms, visibility 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.modal{
    @media screen and (min-width: 320px) {
        width: 100%;
        max-width: 450px;
        min-height: 609px;
        background-color: #FFFFFF;
        border-radius: 4px;
        position: absolute;
        top: 50%;
        left: 50%;
        justify-content: center;
        align-items: center;
        transform: translate(-50%,-50%) scale(1);
        padding: 40px;    
    }
    @media screen and (min-width: 1200px) {
width: 100%;
max-width: 528px;
min-height: 581px;
background-color: #FFFFFF;
border-radius: 4px;
position: absolute;
top: 50%;
left: 50%;
justify-content: center;
align-items: center;
transform: translate(-50%,-50%) scale(1);
padding: 40px;
    }
}

.modal-close-btn{
width: 30px;
height: 30px;
border: 1px solid rgba(0, 0, 0, 0.1);
background: #FFFFFF;
border-radius: 50%;
background-color: transparent;
position: absolute;
align-items: center;
justify-content: center;
display: flex;
top: 8px;
right: 8px;
transition: color 250ms  cubic-bezier(0.4, 0, 0.2, 1), 
fill 250ms  cubic-bezier(0.4, 0, 0.2, 1) ;
&:focus,
&:hover
{
fill: #2196F3;
}
}

.backdrop .is-hidden .modal{
    transform: translate(-50%,-50%) scale(1);
}
.modal-title{
    @media screen and (min-width: 320px) {
        font-weight: 700;
font-size: 20px;
line-height: 1.5;
letter-spacing: 0.03em;
    }
      
    @media screen and (min-width: 1200px) {
        letter-spacing: 0.02em;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    }
  
    color: #212121;
    text-align: center;
}
.model-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2)  ;
    border-radius: 4px;
 padding-left: 42px;
 transition: background  250ms  cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    &:focus{
        border-color:  #2196F3;   
    }
}

.model-label{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    color: #757575;
     display: block;
     margin-top: 10px;
     margin-bottom: 4px;
}
.model-text{
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px; 
    resize: none;
    padding: 12px 16px;
    outline: none;
    &:focus{
        border-color:  #2196F3; 
    }
}

.modal-icon{
    position: absolute;
    left: 12px;
    top: 50%;
   
    transform: translateY(-50%);
    transition: background  250ms   cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check:checked + .check-text::before{
    background-color:#2196F3 ;
    background-image: url(../img/check.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    transition:  border-color 250ms  cubic-bezier(0.4, 0, 0.2, 1) ;
}
.modal-check:focus + .check-text::before{
border-color: #2196F3;
}
.model-input:focus + .modal-icon{
    fill: #2196F3;
   
}

.modal-btn{
    position: absolute;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    text-align: center;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #2196F3;
    width:200px ;
    height: 50px ;
    border: none;
    margin-top: 30px;
    @media screen and (min-width: 320px) {
    margin-left: 84px;
    }
    @media screen and (min-width: 1200px) {
        margin-left: 124px;
    }
}

.input-wrap{
    position: relative;
}
.is-hidden{
    
    opacity: 0;
    pointer-events: none;
   
    }

.visually-hidden{
    text-align: center;
    position: absolute; 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    border: 0; 
    padding: 0; 
    white-space: nowrap; 
    clip-path: inset(100%); 
    clip: rect(0 0 0 0); 
    overflow: hidden;  
  
}
.check-text{
    @media screen and (min-width: 320px) {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        color: #757575;
        align-items: center;
        display: flex;
        justify-content: center;
        
        position: relative;
    } 
    @media screen and (min-width: 1200px) {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
align-items: center;
display: flex;
justify-content: center;

position: relative;
    }
}
.check-text::before  {
content: "";
width: 16px;
height: 16px;
border-radius: 2px;
margin-right: 8px ;
border: 2px solid #212121 ;

}
.label-text{
    @media screen and (min-width: 320px) {
        color: #2196F3;
    margin-left: 4px;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.03em;   
    }
    @media screen and (min-width: 1200px) {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #2196F3;
    margin-left: 4px;
    }
}


.mob-backdrop{
    width: 100vw;
    height: 100vh;
    background-color:  #FFFFFF;
    position:fixed;
    top: 0;
    transition: opacity 250ms, visibility 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    padding: 40px;
    }
    .mob-modal{
    width: 528px;
    min-height: 581px;
    background-color: #FFFFFF;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    justify-content: center;
    align-items: center;
    transform: translate(-50%,-50%) scale(1);
    padding: 40px;
    }
    
    .mob-modal-close-btn{
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    top: 8px;
    right: 8px;
    transition: color 250ms  cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms  cubic-bezier(0.4, 0, 0.2, 1) ;
    &:focus,
    &:hover
    {
    fill: #2196F3;
    }
    }
    
    .mob-backdrop .is-hidden .mob-modal{
        transform: translate(-50%,-50%) scale(1);
    }
    .mob-modal-title{
        
        font-weight: 700;
font-size: 20px;
line-height: 1.50;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
    }
    .mob-model-input{
        width: 100%;
        height: 40px;
        border: 1px solid rgba(33, 33, 33, 0.2)  ;
        border-radius: 4px;
     padding-left: 42px;
     transition: background  250ms  cubic-bezier(0.4, 0, 0.2, 1);
        outline: none;
        &:focus{
            border-color:  #2196F3;   
        }
    }
    
    .mob-model-label{
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        color: #757575;
         display: block;
         margin-top: 10px;
         margin-bottom: 4px;
    }
    .mob-model-text{
        width: 100%;
        height: 120px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px; 
        resize: none;
        padding: 12px 16px;
        outline: none;
        &:focus{
            border-color:  #2196F3; 
        }
    }
    
    .mob-modal-icon{
        position: absolute;
        left: 12px;
        top: 50%;
       
        transform: translateY(-50%);
        transition: background  250ms   cubic-bezier(0.4, 0, 0.2, 1);
    }
    .mob-modal-check:checked + .mob-check-text::before{
        background-color:#2196F3 ;
        background-image: url(../img/check.svg);
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        transition:  border-color 250ms  cubic-bezier(0.4, 0, 0.2, 1) ;
    }
    .mob-modal-check:focus + .mob-check-text::before{
    border-color: #2196F3;
    }
    .mob-model-input:focus + .mob-modal-icon{
        fill: #2196F3;
       
    }
    
    .mob-modal-btn{
        position: absolute;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.8;
        text-align: center;
        border-radius: 4px;
        color: #FFFFFF;
        background-color: #2196F3;
        width:200px ;
        height: 50px ;
        border: none;
        margin-top: 30px;
        margin-left: 124px;
        
    }
   
    
    .visually-hidden{
        text-align: center;
        position: absolute; 
        width: 1px; 
        height: 1px; 
        margin: -1px; 
        border: 0; 
        padding: 0; 
        white-space: nowrap; 
        clip-path: inset(100%); 
        clip: rect(0 0 0 0); 
        overflow: hidden;  
      
    }
    .mob-check-text{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        color: #757575;
    align-items: center;
    display: flex;
    justify-content: center;
    
    position: relative;
    }
    .mob-check-text::before  {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 2px;
    margin-right: 8px ;
    border: 2px solid #212121 ;
    
    }
    .mob-label-text{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        color: #2196F3;
        margin-left: 4px;
    }