:root{
    --title-color: #212121;
    --main-title-color:#757575;
    --hover-footer-color:#2196F3;
    --fonfocus-color: #FFFFFF;
}


.body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: #757575;
    background-color:#FFFFFF; 
}
 
 